body {
  font-family: "Source Sans Pro", sans-serif;
}
html {
  overflow-y: scroll;
}
h1 {
  margin-left: 20px;
  color: #eeeeee;
}
h2 {
  margin: 10px 0px;
}
input,
select {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  height: 25px;
  width: max-content;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
nav ul,
nav ol {
  height: 250px;
}
nav ul,
nav ol {
  overflow: hidden;
  overflow-y: scroll;
}
.header {
  width: 1355px;
  background-color: #47a80f;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-container {
  display: flex;
  align-items: start;
}
.settings-container {
  margin: 5px;
}
.request-container,
.receipt-container {
  margin-left: 5px;
  margin-right: 5px;
}
.request-field,
.receipt-field {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
  height: 300px;
}
.receipt-field {
  width: 350px;
}

.sale-request {
  width: 500px;
}
.sale-response {
  width: 750px;
}
.sale-response-text {
  width: 500px;
}
.total {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
}
.check-connect-button {
  margin-top: 0px;
}
.connect-status {
  margin-top: 6px;
  margin-left: 6px;
}
.info-title {
  font-size: 20px;
}
.products,
.cart,
.others {
  width: 400px;
  height: 450px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 5px;
}
.settle-field {
  width: 400px;
  height: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 5px;
}
.request-button {
  background-color: #47a80f;
  color: #f5f4f4;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 1355px;
  height: 50px;
  font-size: 20px;
}

.main-tab {
  background-color: #eeeeee;
  width: 1355px;
  margin-top: 20px;
}

.main-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.main-tab button:hover {
  background-color: #ddd;
}

.main-tab button.active {
  background-color: #ccc;
}

.main-tabcontent {
  display: none;
  border-top: none;
}

@media (max-width: 1355px) {
  body {
    font-size: 2.5vh;
    text-align: center;
  }
  button {
    font-size: 2vh;
  }
  input,
  select {
    height: 3vh;
  }
  .row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 90vw;
    font-size: 5vmin;
    text-align: center;
    margin: 0px;
  }
  .products,
  .cart,
  .others,
  .request-field,
  .receipt-field,
  .settle-field {
    width: 80vw;
    font-size: 2vh;
  }
  .total{
    font-size: 3vh;
  }
  .request-field,
  .receipt-field,
  .settle-field {
    text-align: left;
  }
  .products {
    height: 30vh;
  }
  .settle-field {
    height: 30vh;
  }
  .products-list {
    height: 20vh;
  }
  .cart {
    height: 45vh;
  }
  .cart-list {
    height: 20vh;
  }
  .others {
    height: 45vh;
    align-items: center;
  }
  .check-connect-button {
    margin-top: 20px;
  }
  .request-button {
    height: 5vh;
    font-size: 2.5vmax;
    width: 85vw;
  }
  .main-tab {
    width: 90vw;
  }
}
